/*  Global Styles & Resets */

/* Fonts */
@font-face {
  font-family: 'Soehne';
  src: url('./fonts/soehne/soehne-buch.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Soehne';
  src: url('./fonts/soehne/soehne-halbfett.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Colors and initialize font size */
:root {
  /* Colors */
  --dark-navy: #00010a;
  --navy: #010215;
  --light-navy: #172a45;
  --light-navy-half: #172a457d;
  --vlight-navy: #303c55;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --vlight-slate: #ccd6f6;
  --green: #64ffda;
  --muted-green: #64ffdb89;
  --white: #e6f1ff;

  /* Fonts */
  font-size: 62.5%;
  color: var(--white);
}

h1 {
  font-size: 4rem;
  color: var(--white);
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.4rem;
}

p,
span,
a,
blockquote {
  font-size: 1.6rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote {
  margin: 0;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
  list-style: none;
  padding: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.6;
  font-family: 'Soehne', sans-serif;
  font-feature-settings: 'ss01';
  font-size: 1.6rem;
  font-weight: 400;
  background-color: var(--dark-navy);
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Links */
a {
  color: var(--green);
  text-decoration: underline;
  letter-spacing: 0.05em;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.5ex;
  text-decoration-color: var(--green);
  transition: text-underline-offset 150ms ease-in-out;
}

a:hover {
  text-underline-offset: 0.2ex;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 30px;
  }
}
